.left-sidebar{

  display: flex;
  flex-direction: column;
  flex: 90px;
  justify-content:start;
  align-items:center;
  padding-top: 15px;
  padding-left:3px;
  background-color: white;
  position: fixed;
  left: 0;
  top:40px;
  bottom: 0;
}
.sidebar .button-sidebar{
  height: 35px;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-top:10px;
  margin-bottom:64px;

}
.button-sidebar img{
  height: 25px;
  margin-bottom: 0;
  

}
.button-sidebar p{
  font-family: Arial;
  font-size:10px;
  font-weight: bold;
  color: black;
  margin-top: 0;
}
.button-subjects{
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height:50px;
  flex: 1;
  align-items:center;
  justify-content: space-between;
  border-bottom:1px solid rgb(228, 216, 216) ;
  border-top:1px solid rgb(228, 216, 216) ;
  margin-top: 0px;
  margin-bottom:19px ;
  padding-left: 100px;
  
  
  
}
.all{
  border:1px solid rgb(211, 203, 203);
  background-color:rgb(236, 226, 226);
  color: rgb(3, 3, 3);
  padding: 5px 12px 5px 12px;
  border-radius:30px;
  font-family:Arial;
  font-size: 14px;
  font-weight: 400;
  margin-left: 0px;
  margin-right:5px ;
  transition:background-color 0.15s ,color 0.15s ,background-color 0.15s;
  cursor: pointer;
  white-space: nowrap;
  
}
.all:hover{
  background-color:rgb(207, 197, 197) ;
}
.all:active{
  background-color: rgb(3, 3, 3);
  color: rgb(236, 226, 226);
}
